@import '~bootstrap/scss/bootstrap.scss';

/* Define your variables */
$primary-color: #5A9;
$primary: #f92404;
$gray: #6c757d;

/* Define global styles */
body {
  color: $primary-color;
}
// Import Bootstrap's styles
