@import '~bootstrap/scss/bootstrap.scss';

/* Define your variables */
$primary-color: rgb(0, 183, 6);
$primary: rgb(0, 183, 6);
$gray: #6c757d;


/* Define global styles */
body {
  color: #000;
  font-weight: 400;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));

}

h1 {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));
}

.btn-main{
  font-size: 0.8rem!important;
}

.btn{
  font-size: 0.655rem;
}

.quest-toast div{
display: flex;
width: 100%;
}

.quest-toast-container {
  /* Styles for the toast container */
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quest-toast-body {
  /* Styles for the toast body */
  font-size: 14px;
  color: #333;
  padding: 10px;
}

.inventory-log-container{
  background-color: #f0f0f0;
}

.inventory-log-body{
  font-size: 14px;
  color: #333;
}

.inventory-log-body h2{
  font-size: 1.2rem;
  font-weight: 800;
}

.inventory-log-body p{
  font-size: 0.888rem;
  margin-bottom: 0rem;
}

.custom-map {
  filter: drop-shadow(0px 5px 1px rgb(0, 0, 0));
}

.custom-marker {
  filter: drop-shadow(0px 5px 5px rgba(255, 255, 0, 1));
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-marker {
  animation: bounce 1s infinite;
}


// Import Bootstrap's styles