@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Define your variables */
$primary-color: rgb(0, 183, 6);
$primary: rgb(0, 183, 6);
$gray: #6c757d;

#app {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

html {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden!important;
  overflow-y: scroll!important;
}
/* Define global styles */
body {
  color: #000;
  font-weight: 400;
  overflow-x: hidden!important;
  overflow-y: scroll!important;
}


div.modal-content {
  //background-color: #f8f8f8!important;
  background-color: rgba(0, 0, 0, 0.8)!important;
}

.modal-body {
  //background-color: #f8f8f8!important;
  color: #fff;
}

.modal-footer{
  padding: 6px 12px;
}

.shop-tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: rgb(153, 0, 0);
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 100px;
    height: 100px;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 9999;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}



.btn-main{
  font-size: 0.8rem!important;
}

.btn{
  font-size: 0.655rem;
}
.sidebar-btn{
  background-color: rgba(0, 0, 0, 0.7);
}
.sidebar-btn:hover{
  @extend .btn-success
}
.sidebar-icon{
  width: 35px;
  @extend .my-2;
}

.quest-toast div{
display: flex;
width: 100%;
}

.quest-toast-container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-shadow: rgba(0, 0, 0, 1) 0px 0px 2px;
  font-size: 0.8rem;
  max-width: 300px;
  margin: 12px auto;
}

.quest-toast-body {
  /* Styles for the toast body */
  font-size: 14px;
  color: #fff;
  padding: 10px;
}

.card{
  background-color:transparent;
  border-radius: 5px;
  color: white;
  text-shadow: rgba(0, 0, 0, 1) 0px 0px 2px;
  font-size: 0.8rem;
  margin: 0 auto;

}



.inventory-log-container{
  background-color: #f0f0f0;
}

.inventory-log-body{
  font-size: 14px;
  text-align: left;
  color: #333;
}

.inventory-log-body h2{
  font-size: 1.2rem;
  font-weight: 800;
}

.inventory-log-body p{
  font-size: 0.888rem;
  margin-bottom: 0rem;
}

.quest-marker {
  filter: drop-shadow(0px 5px 2px rgb(0, 0, 0, 1));
}

.claim-marker {
  filter:   drop-shadow(0px 5px 2px rgba(0, 255, 6, 1));
}




// Import Bootstrap's styles